name: CI

on:
  pull_request:
  push:
    branches-ignore: ['main']

permissions:
  contents: read

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[pages]')"
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/teamsykmelding-github-actions-workflows/actions/yarn-cached@main
        with:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: yarn test
      - run: yarn lint
      - run: yarn build
